main #content ul {
    /* display: flex;
    align-items: flex-end; */
    list-style-type: none;
    padding-left: 0%;
}

main #content ul li.posts {
    margin-bottom: 5em;
}

main #content ul li.posts a {
    display: flex;
    color: #0c0c0c;
}

main #content ul li.posts a h2{
    margin-bottom: 0;
    font-size: 3em;
}

main #content ul li.posts a img {
    height: 10em;
    margin-right: 2em;
    border-radius: 1em;
}

