@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: "Outfit", sans-serif;
    margin:0%;
    background-color: #f5f5f5;
    color:#0c0c0c;
    /* display: flex; */
}



nav {
    background-color: #0c0c0c;
    color: #f5f5f5;
    padding: 1em;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    text-align: left;
} 
nav #home_button {
    font-size: 5em;
}
nav h1{
    margin-top:0;
    margin-bottom: .5em;
    font-size: 5em;
}

nav a {
    color: #f5f5f5;
    text-decoration: none;
    padding-right: 1em;    
    font-size: 2em;
    padding-bottom: .5em;
}
nav a:hover {
    color:#cdd4f6;
}
nav a:active {
    color:#adb4d6;
}
nav p {
    position: absolute;
    bottom: 1.2rem;
}

header {
    /* display: flex;
    align-items: flex-end; */
    font-size: 1.4rem;
}

main {
    margin-left: 24rem;
}

main a{
    color:#2a2e41;
    text-decoration: none;
}
main a:hover {
    color:#343b5c;
}
main a:active {
    color:#58608a;
}

button {
    font-family: "Outfit", sans-serif;
    color:#d4d4d5;
    background: none;
    border: none;
    fill:#d4d4d5;
    display: flex;
}

button:hover {
    color:#c6b7d2;
    fill:#c6b7d2
}

button:active {
    color:#af9ebc;
    fill:#af9ebc
}

button span {
    padding-left: 0.5em;
    padding-top: .22em;
}
