
header h1{
    margin-bottom: 0%;
}

header span {
    color: #919cab; 
    margin-bottom: 0%;
    font-weight: 300;
}

#content {
    /* margin-top: rem;
    /* margin-left: 24rem; */
    width: 40em;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.5em;
}